__pycache__/
.DS_Store
.env
.venv/
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
*.egg-info/

node_modules/

target/
uv.lock
package-lock.json

cdk.out/

data/
models/
*.log

audio/
2025_letter_sound_scoring/

# Profiling output
prof/
*.prof
